[submodule "curated-db"]
	path = apps/curated-db
	url = https://github.com/tom-genoox/curated-db
[submodule "franklin-id"]
	path = utilities/frontend/franklin-id
	url = https://github.com/tom-genoox/franklin-id
[submodule "panel-app"]
	path = apps/panel-app
	url = https://github.com/eyal-elkevity/panel-app.git
[submodule "apps/kit-validator"]
	path = apps/kit-validator
	url = https://github.com/genoox-nettie/kit-validator.git
[submodule "apps/test-nettie-cli"]
	path = apps/test-nettie-cli
	url = https://github.com/tom-genoox/test-nettie-cli.git
